*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-text{
    margin-left: 5rem;
}
.nav-text a{
    text-decoration: none;
    color: #f8f8f8;
    font-family: 'Prompt', sans-serif;
}
.buttons{
    display: flex;
}
.settings-btn{
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.settings-btn a i{
    font-size: 1.4rem;
    color: #00bfa6;
}
.settings-btn a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.search{
    margin-right: 2rem;
}
.btn-outline-success{
    color: #00bfa6;
    border-color: #00bfa6;
}
.btn-outline-success:hover{
    background-color: #00bfa6;
    color: #f8f8f8;
}

img{
    user-select: none;
}

.search-results h3{
    color: #3f3d56;
    font-weight: bold;
}
.search-div .card{
    margin-right: 1.5rem;
}
.img-fluid{
    height: 100%;
}
.btn:focus{
    background-color: #00bfa6;
}
.btn-primary{
    border: none;
}
.btn-primary:hover{
    background-color: #00bfa6;
    color: #3f3d56;
}
.btn-primary:disabled{
    background-color: rgba(0, 191, 166, 0.7);
}
.subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row>*{
    padding-left: 0;
}

.intro{
    margin-top: 2rem;
    color: #3f3d56;
    display: flex;
    justify-content: space-between;
}
.intro h3{
    font-weight: bold;
}

.offcanvas{
    transition: all 0.3s ease-out;
}

.offcanvas-header{
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

.btn-close{
    border-radius: 50%;
    padding: 0.6rem;
}
.btn-close:hover{
    background-color: rgba(63, 61, 86, 0.2);
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
}

.chat-img{
    width: 80%;
    margin: 0.7rem auto;
}

.chat{
    text-decoration: none;
    width: 100%;
    border: 2px solid #00bfa6;
    color: #3f3d56;
    border-radius: 5px;
    padding: 0.7rem 0.7rem;
    margin-bottom: 0.6rem; 
    transition: all 0.3s ease; 
}
.chat:hover{
    background-color: #00bfa6;
    color: #3f3d56;
}

.files{
    margin-top: 2rem;
}
.card-title{
    font-weight: bold;
    color: #3f3d56;
}
.btn{
    background-color: #00bfa6;
    color: #f8f8f8;
}